/* CSS Document */

/* Description styles */

.description > .mailcheck-action {
  color: #b9362d;
}

.description > .mailcheck-action > .corrected-mail {
  font-style: italic;
  font-weight: bold;
  color: #3458b9;
  font-size: inherit;
  cursor: pointer;
}

/* Prefix & Suffix */

.mc-suffix,
.mc-prefix {
  color: #b9362d;
  font-size: 12px;
}

.mc-suffix > .corrected-mail,
.mc-prefix > .corrected-mail {
  font-style: italic;
  font-weight: bold;
  color: #3458b9;
  font-size: inherit;
  cursor: pointer;
}

